.flex_buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#register_button, #login_button {
    padding: 15px 15px;
    width: 50%;
    font-size: 1em;
    font-weight: bold;
}

#register_button {
    border-radius: 5px 0px 0px 0px;
}

#login_button {
    border-radius: 0px 5px 0px 0px;
}

#register_button:hover, #login_button:hover {
    cursor: pointer;
    background-color: rgb(88, 86, 235);
    transition-duration: 0.5s;
}

.control-label {
    width: 80px;
}

.btn-primary {
    background-color: rgb(88, 86, 235);
    margin-bottom: 50px;
}
