.form-horizontal .form-group {
    margin: 5px 50px 0px 50px !important;
}

.form-horizontal {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    margin: 20px;
}

.btn-primary {
    width: 80px;
    display: block;
    margin: 25px auto 25px auto;
}
