.body-wrapper {
    background-color: #3B62FF;
    background-size: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.register_modal {
    display: block;
    margin: 200px auto auto;
    width: 500px;
    border-radius: 5px;
    color: #424152;
    background-color: white;
}
